.root {
    -fx-background-image: url("Desktop1.png");
    -fx-background-repeat: no-repeat; /* Esto es necesario para que no se muestren copias del fondo depantalla */
    -fx-background-position: center center;
    -fx-background-size: cover;
    -fx-background-color: #f4f4f9;
}


.button {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #fff; /* cambio el texto de botones a blanco */
}

.status-text {
    -fx-font-size: 20px;
    -fx-fill: #ffffff; /* tambien lo pongo en blanco para facilitar la lectura (sino se quedaría medio dificil de leer en gris sobre verde grisaceo */
}